# Code owners for ArkUI form_fwk
[ArkTs1.2 Permission]
frameworks/js/napi/BUILD.gn  @mirotong @jeremiah1106 @yanwei10 required_reviewers=3

[AAFWK ABILITY]
frameworks/ @afwk_helper
interfaces/ @afwk_helper
services/ @afwk_helper
test/ @afwk_helper