# Code owners for ArkUI form_fwk
[ArkTs1.2 Permission]
frameworks/js/napi/BUILD.gn  @mirotong @jeremiah1106 required_reviewers=2

[AAFWK ABILITY]
frameworks/ @aafwk_ability
interfaces/ @aafwk_ability
services/ @aafwk_ability
test/ @aafwk_ability